[submodule "hc-legwork-admin"]
	path = hc-legwork-admin
	url = https://github.com/haochtech/hc-legwork-admin.git
[submodule "hc-legwork-wx"]
	path = hc-legwork-wx
	url = https://github.com/haochtech/hc-legwork-wx.git
